<% if !@questions.blank? %>
  <table class='table'>
    <tr>
      <th>Ano</th>
      <th>Número</th>
      <th>Enunciado</th>
    </tr>

    <% @questions.each do |t| %>
      <tr>
        <td><%= t.year %></td>
        <td><%= link_to t.number, "/questions/#{t.id}" %></td>
        <td><%= t.enunciation %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3> Não há questões cadastradas no momento. </h3>
<% end %>