$('input.btn').hide();
$('input[type="radio"]').hide();
$('#jump-btn').html('Próxima questão');
$('#jump-btn').after("<%= j link_to 'Fórum', topic_path, class: 'btn btn-primary btn-sm button' %>");
$(".<%= j @answer_letter %>-description").after("<div class='alert alert-info'><%= j image_tag(@correct_answer ? 'correct-answer' : 'wrong-answer', alt: "", class: 'answer-feedback') %><%= @correct_answer ? 'Parabéns! Você ganhou 4 pontos!' : 'Você errou, tente novamente' %></div>");
