<h1> Categories </h1>

<%= link_to "Ciências da Natureza", controller: "questions", action: "select_category", category: "Ciências da Natureza" %>
<%= link_to "Ciências Humanas", controller: "questions", action: "select_category", category: "Ciências Humanas"  %>
<%= link_to "Códigos e Linguagens", controller: "questions", action: "select_category", category: "Códigos e Linguagens"  %>
<%= link_to "Matemática", controller: "questions", action: "select_category", category: "Matemática" %>