<h1 class="content-title"> Sobre </h1>
	<h2>Aplicação para auxílio nos estudos para o ENEM (Exame Nacional do Ensino Médio)</h2>
	<h2>Projeto das disciplinas de GPP (Gestão de Portifólios e Projetos de Software) e MDS (Métodos de Desenvolvimento de Software) do curso de Engenharia de Software da Universidade de Brasília, Campus Gama</h2>
	<h3><center><b>Equipe de Gestão do Projeto</b></center></h3>
	<h2>Brenddon Gontijo Furtado</h2>
	<h2>Leonardo Cambraia Corrêa</h2>
	<h2>Matheus Herlan dos Santos Ferraz</h2>
	<h2>Omar Faria dos Santos Júnior</h2>
	<h2>Pedro de Lyra Pereira</h2>
	<br><div class="form-divisor"></div>
	<h3><center><b>Equipe de Desenvolvimento</b></center></h3>
	<h2> Jéssica Cristina de Oliveira </h2>
	<h2>João Vitor Araujo Moura</h2>
	<h2>Mateus Manuel Rodrigues Bezerra</h2>
	<h2>Renata Soares dos Santos</h2>
	<h2>Victor Matias Navarro</h2>
	<h2>Vitor Barbosa de Araujo</h2>