<h1> Guia do Usuário </h1>

<div id="help">
  <h4><b>Início</b></h4>
  <h4>Ao clicar em "Início", você será redirecionado(a) a uma página que dará 3 opções: questão, ranking e perfil. </h4>

  <br><div class="form-divisor"></div>

  <h4><b>Ranking</b></h4>
  <h4>Ao clicar em "Ranking", você poderá ver a classificação de todos os usuários da aplicação. O ranking possui as seguintes informações: posição, nome, pontos e nível.</h4>

  <br><div class="form-divisor"></div>

  <h4><b>Questões</b></h4>
  <h4>Ao clicar em "Questões", você será redirecionado(a) a uma página que possui todas as categorias que você pode escolher. São elas: Ciências Humanas, Ciências da Natureza, Linguagens e Códigos, Matemática e Listar Todas que possui questões de todas as áreas.</h4>
  <h4>Depois de escolher a categoria, você será redirecionado(a) para uma página que possui a listagem de todas as questões do site.</h4>
  <h4>Abaixo da questão, possui um gráfico que mostra o desempenho dos alunos do Enem, dos usuários do site e a média dos dois na questão selecionada. Você poderá escolher uma alternativa da questão e respondê-la ou clicar no botão "pular", caso deseja mudar. Caso você responda corretamente a questão, você terá a opção de responder uma próxima questão, caso contrário, terá as opções de responder novamente ou pular a questão.</h4>

  <br><div class="form-divisor"></div>

  <h4><b>Minha conta</b></h4>
  <h4>Ao clicar em "Minha conta", você terá as seguintes opções: editar meu perfil e sair. Em "Editar meu perfil", você pode alterar os dados do seu cadastro e em "Sair", você será "deslogado" do site.</h4>

  <br><div class="form-divisor"></div>

  <h4><b>Batalha</b></h4>
  <h4>No modo batalha, você pode estudar de uma forma lúdica ao convidar outro usuário para um jogo onde os dois usuários têm um tempo determinado para responder questões e aquele que acertar mais é o vencedor.</h4>

  <br><div class="form-divisor"></div>

  <h4><b>Prova</b></h4>
  <h4>No modo prova, o usuário tem a opção de responder uma prova do Enem de algum ano específico ou de responder uma prova gerada aleatoriamente com o banco de dados da aplicação.</h4>

  <br><div class="form-divisor"></div>
</div>