<h1> Guia do Usuário </h1>

<h4><b>Ínicio</b></h4>
<h4> Ao clicar em "Ínicio", você será redirecionado(a) a uma página que dará 3 opções: Questão, Ranking e Perfil </h4>

<h4><b>Ranking</b></h4>
<h4> Ao cliclar em "Ranking", você poderá ver a classificação de todos os usuários da aplicação. O ranking possui as seguintes informações: Posição, Nome, Pontos e Nível.

<h4><b>Questões</b></h4>
<h4>Ao clicar em "Questões", você será redirecionado(a) a uma página que possui todas as categorias que você pode escolher. São elas: Ciências Humanas, Ciências da Natureza, Linguagens e Códigos, Matemática e Listar Todas que possui questões de todas as áreas. </h4>
<h4>Depois de escolher a categoria, você será redirecionado(a) para uma página que possui a listagem de todas as questões do site.</h4>
<h4> Abaixo da questão, possui um gráfico que mostra o desempenho dos alunos do Enem, dos usuários do site e a média dos dois na questão selecionada. Você poderá escolher uma alternativa da questão e responde-la ou clicar no botão "pular", caso deseja mudar. Caso você acerte corretamente a questão, você terá a opção de responder uma próxima questão, caso contrário, terá as opções de responder novamente ou pular a questão.</h4>

<h4><b>Minha conta</b></h4>
<h4>Ao clilcar em "Minha conta", você terá as seguintes opções: Editar meu perfil e Sair. Em "Editar meu perfil", você pode alterar os dados do seu cadastro e em "Sair", você será "deslogado" do site.</h4>