<h1>Enem Amigo</h1>
<p><%= link_to "Questões", questions_path, class: "btn btn-success" %></p>
<p><%= link_to "Ranking", ranking_path,  class: "btn btn-warning" %></p>
<p><%= link_to "Perfil", current_user,  class: "btn btn-primary" %></p>