<h1>Enem Amigo</h1>

<table class="home-images">
	<tr>
	<td><%= link_to image_tag("questoes.png"), questions_path %></td>
	<td><%= link_to image_tag("perfil.png"), current_user %></td>
	</tr>
</table>

<div class="home-images">
	<%= link_to image_tag("ranking.png"), ranking_path %>
</div>

