<h1 class="content-title">Erro do servidor</h1>

<center>
  <h2>Estamos trabalhando nisso</h2>
  <%= image_tag("under-construction-icon.png", :alt => "rss feed", :width => 300, :height =>300) %>
  <div id="home-back"><%= link_to "Voltar à página principal", root_path, class: 'btn btn-primary' %></div>
</center>
