<table>
	<tr>
		<th>Título</th>
		<th>Comentários</th>
		<th>Último comentário</th>
	</tr>
	<% @forum.topics.each do |t| %>
		<tr>
			<td><%= link_to t.name, "/topics/#{t.id}" %></td>
		</tr>
	<% end %>
</table>