<h1> Fórum </h1>

<table class="table">
  <thead>
    <th>Nome</th>
    <th>Descrição</th>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
          <td><%= link_to "#{topic.name}", "/topics/#{topic.id}" %></td>
          <td><%= topic.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
