<h1 class="content-title"> Fórum </h1>

<table class="table">
  <thead>
    <th>Questões</th>
    <th>Comentários</th>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
          <td>
            <%= link_to "#{topic.name}", "/topics/#{topic.id}" %>
            <ul><%= topic.description %></ul>
          </td>
          <td><%= topic.posts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
