
<%= render "posts/new" %>

<table>
	<% @topic.posts.each do |t| %>
		<tr>
			<%= t.content %>
			<%= t.user.name %>
			<%= render partial: "comments/new", method: new_comment(t) %>
		</tr>
	<% end %>
</table>