<%= link_to "Novo", new_post_path, class: "btn btn-success" %>

<table>
	<tr>
		<th>Título</th>
		<th>Comentários</th>
		<th>Último comentário</th>
	</tr>
	<% @topic.posts.each do |t| %>
		<tr>
			<td><%= link_to t.content, "/posts/#{t.id}" %></td>
			<% if current_user.role_admin? || current_user.id == t.user_id %>
				<td><%= link_to "Editar", edit_post_path(t), class: "btn btn-primary" %></td>
				<td><%= link_to "Excluir", post_path(t), :method => :delete, class: "btn btn-danger" %></td>
			<% end %>
		</tr>
	<% end %>
</table>