<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#medal_modal">Ver todas</button>

<div id="medal_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Medalhas de <%= @user.name %></h4>
      </div>
      <div class="modal-body">
        <div>
          <% @user.medals.each do |medal| %>
          <div>
            <div class="thumbnail" id="user_medals">
              <%= image_tag medal.image %>
              <p class="medal_name">
                <b><%= medal.name %></b>
              </p>
              <p class="medal_description">
                <%= medal.description %>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>