<div class="col-md-3">
  <div class="profile-sidebar">
    <div class="profile-image">
      <%= image_tag("profiles_images/#{current_user.profile_image}", alt: "Profile image") %>
    </div>
    <div class="profile-information">
      <p id="user-name"><%= current_user.nickname %></p>
      <p id="user-rank">Posição: 98º</p>
      <p>Resolvido: 45</p>
    </div>
    <%= render 'users/ranking' %>
  </div>
</div>