<table class="ranking">
  <thead>
    <tr>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. Brenddon</td>
    </tr>
    <tr>
      <td>2. Brenddon</td>
    </tr>
    <tr>
      <td>3. Brenddon</td>
    </tr>
    <tr>
      <td>4. Brenddon</td>
    </tr>
    <tr>
      <td>5. Brenddon</td>
    </tr>
    <tr>
      <td>6. Brenddon</td>
    </tr>
    <tr>
      <td>7. Brenddon</td>
    </tr>
  </tbody>
</table>