<table class="ranking">
  <thead>
    <tr>
      <th><%= image_tag("trophy.jpg") %><span>top 10</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
    <tr>
      <td>Brenddon Gontijo</td>
    </tr>
  </tbody>
</table>