<table class="ranking">
  <thead>
    <tr>
      <% top10 = User.all.order(:points).reverse %>
      <% min = top10.count < 10 ? top10.count : 10 %>
      <th><%= link_to image_tag("trophy.jpg"), ranking_path %><span>top <%= min %></span></th>
    </tr>
  </thead>
  <tbody>
  <% for i in 0...min %>
    <tr>
      <td><%= link_to top10[i].name, "/users/#{top10[i].id}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>