<table class="ranking">
  <thead>
    <tr>
      <th><%= link_to image_tag("trophy.jpg"), ranking_path %><%= link_to "TOP 10", ranking_path, id: 'top-10' %></th>
    </tr>
  </thead>
  <tbody>
  <% top10.each do |x| %>
    <tr>
      <td><%= link_to x.name, "/users/#{x.id}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>