<h1> Listing Users </h1>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Level</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= link_to "#{user.name}", "/users/#{user.id}" %></td>
        <td><%= user.level %></td>
    </tr>
    <% end %>
    </tbody>
</table>
