<h1>Medalhas</h1>

<div class="row">
  <% @medals.each do |medal| %>
          <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <%= image_tag medal.image %>
                    <p>
                      <%= medal.name %>
                    </p>
                    <p>
                      <%= medal.description %>
                    </p>
                    <p>
                      <% if current_user.medals.include?(medal)  %>
                        Conseguiu!!!
                      <% else %>
                        <%= percentage(medal) %>% completo
                      <% end %>
                    </p>
                  </div>
          </div>
    <% end %>
</div>
