<h1 class="align-center">
  Batalha Finalizada
</h2>

<table class='table'>
    <thead>
      <th class="align-center">Suas Respostas</th>
      <th class="align-center">Gabarito</th>
    </thead>

    <% @answers.each do |x, y| %>
      <tr>
        <td class="align-center"><%= y %></td>
        <td class="align-center"><%= x.right_answer %></td>
      </tr>
    <% end %>
  </table>

  <h2 class="align-center">
    Você acertou <%= pluralize(@player_points,"questão","questões") %>
  </h2>