<p class='battle-title'>
  MODO BATALHA
</p>

<div class="glyphicon glyphicon-time label label-default" id="counter"></div>

<script>
    function countdown() {
        var seconds = 601;
        function tick() {
            var counter = document.getElementById("counter");
            seconds--;
            counter.innerHTML = " " + String((seconds-seconds%60)/60) + ":" + (seconds%60 < 10 ? "0" : "") + String(seconds%60);
            if( seconds > 0 ) {
                setTimeout(tick, 1000);
            } else {
                window.location.href += '/finish';
            }
        }
        tick();
    }
    countdown();
</script>

<%= render 'question' %>