<%= form_for @post do |f| %>
  <%= f.text_area :content, class: 'form-control', placeholder: "Entre na discussão!" %>
  <span id="new-post-btn"><%= f.submit "Postar", class: 'btn btn-success col-md-2' %></span>
<% end %>