footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 50px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}