@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #E5E9EC none repeat scroll 0% 0%;
  padding-top: 4em;
  margin-bottom: 8em;
  font-family: "Open Sans", sans-serif;
  padding-right: 1em;
}

body.homepage {
  background: image-url("background.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

body > .container {
  padding-bottom: 4em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table.ranking {
  min-height: 259px;
}

table.ranking tbody tr td {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

div.alert {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  width: 101.4%;
  margin-top: 1em;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.content {
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  padding-bottom: 1.2em;
}

.content-radius {
  border-radius: 8px;
}

.main-content {
  padding-right: 4em;
  padding-left: 4em;
  padding-top: 1em;
}

.content-title {
  border-bottom: 1px solid #222;
  padding-bottom: 0.3em;
}

.login input.btn {
  background-color: #222;
}

.login input.btn:hover {
  background-color: #333;
}

.row {
  margin-top: 1em;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*** typography ***/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1.border-title {
  border-bottom: 1px solid #D3D6DE;
  padding-bottom: 0.2em;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  font-family: 'arial', sans-serif;
  line-height: 1.7em;
  text-align: center;
}

/*** form ***/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto;
}

#error-explanation {
  color: red;
}

#error-explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

.field_with_errors {
  @extend .has-error;
}

.field_with_errors .form-control {
  color: #A94442;
}

/****** questions *******/

p.question {
  font-size: 1.2em;
  text-align: left;
}

p.question-text {
  font-size: 1.2em;
  text-align: left;
  text-indent: 2em;
}

p.question-text-reference {
  font-size: 0.8em;
  text-decoration: italic;
  text-align: right;
}

form .alternative input[type="radio"] {
  margin: 0px !important;
  width: 15px;
  vertical-align: middle;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0.8em;
  margin-right: 0.4em;
  min-width: 10em;
}

form input#answer-btn {
  width: 10em;
}

form input#rate-btn {
  width: 10em;
}

form input#rate-post-btn, form input#rate-comment-btn {
  width: 5em;
  margin-right: 5px;
}

.answer-feedback {
  margin-left: 0.5em;
}

/********* upload file **********/

.upload-forms-container {
  margin: auto;
}

.form-title {
  display: table-cell;
  padding-right: 3.5em;
  padding-bottom: 1em;
  white-space: nowrap;
}

.upload-form, .select-type-exam {
  display: table-cell;
  vertical-align: bottom;
}

.upload-form h2 {
  vertical-align: top;
  white-space: nowrap;
}

#questions-form {
  border-right: 1px dotted #D3D6DE;
  padding-right: 2em;
}

#candidates-data-form, #select-exam-form {
  padding-left: 2em;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.2em;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.user-options,
.upload-forms-container {
  display: inline-block
}

.options-container,
.content-container {
  text-align: center;
}

.content-container {
  margin-top: 4em;
}

.custom-img {
  margin-bottom: 1.2em;
}

.question-img {
  margin: auto;
}

.question-index p {
  font-weight: 700;
}

.align-center {
  text-align: center;
}

#error_explanation {
  color: #a94442;
  ul {
    color: #a94442;
    margin: 0 0 30px 0;
  }
}
.field_with_errors  {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.progress{
  height: 2.5em;
}

.progress-bar {
  height: 100%;
  padding-top: 0.8em;
}

.user-info {
  display: inline-block;
}

/********new-level********/

.modal-header {
  border: none;
}

.modal-footer {
  margin-top: 10px;
}

#new_level_modal > div > div.modal-content {
  width: 350px;
}

#new_level_modal > div > div > div.modal-header {
  height: 75px;
}

#new_level_modal > div > div > div.modal-header > h4 {
  padding-top: 15px;
  padding-left: 5px;
}

body > div > div.row > div.col-sm-9.content.main-content > div.alert.alert-success {
  width: 10em;
}

.post-buttons {
  display: inline-flex;
  float: right;
  margin-right: 14px;
}

.comments-buttons {
  display: inline-flex;
  float: right;
  margin-right: 2px;
}

#edit-btn {
  margin-right: 5px;
}

.list-group-item {
  margin-top: 18px;
}

#votes {
  height: 18px;
}

#show-vote {
  margin-top: -4px;
}

#comments-index {
  margin-left: 10%;
  margin-right: 14px;
}

.user-answers {
  width: 120px;
  margin-left: 30%;
  float: left;
}

.right-answers {
  width: 120px;
  margin-right: 30%;
  float: right;
  display: inline;
}

.exam-result {
  display: inline-table;
}

.submit-exam {
  margin-top: 15px;
}

#button-answer-exam {
  width: 379px;
  height: 104px;
  margin-bottom: 19px;
  border-radius: 13px;
}

.user-options a#button-answer-exam {
  color: white;
  font-size: 29px;
  font-weight: bold;
  padding: 30px;
}

#submit-exam-button, #cancel-exam {
  width: 200px;
}

#select-exam-form > p {
  font-size: 20px;
}

#select-year-exam {
  font-size: 19px;
  width: 58%;
}

#select-exam-form > input.btn.btn-primary.btn-sm {
  font-size: 20px;
}

#year_exam {
  font-size: 15px;
  height: 100%;
}

#counter {
  font-size: 30px;
  position: fixed;
  margin-top: 7%;
  margin-left: -1%;
}

#complete-result {
  width: 80%;
  margin-left: 84px;
}

#accepted-by-exam {
  margin-top: 42px;
  margin-bottom: 0px;
}

#statistics {
  margin-bottom: 5%;
}

/***** battles *****/

.battle-categories {
  display: table;
  margin: 2em;
  width: 99%;
}

.battle-categories td {
  vertical-align: middle;
  text-align: center;
  max-width: 70px;
  padding-bottom: 0.5em;
}

.battle-categories td.click:hover {
  cursor: pointer;
}

.battle-categories td img {
  padding: 0.5em;
}

.form-divisor {
  border-bottom: 1px solid #D3D6DE;
  height: 0;
  margin-bottom: 3em;
}

select#battle_category {
  display: none;
}

.or-container {
  text-align: center;
  font-size: 4em;
}

.opponent-container {
  padding-top: 1em;
  text-align: center;
}

.opponent-container input {
  border-radius: 0.4em;
  height: 2em;
  padding-left: 0.5em;
}

.random-opponent-container {
  padding-top: 0.5em;
}

.random-opponent-container button {
  color: #fff;
  border-radius: 0.6em;
  font-weight: 700;
  height: 5em;
}

.battle-submit {
  margin-top: 3em;
}

#chart-1 {
  margin-top: 2em;
}

#delete-image {
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 0px;
  width: 13%;
}

#dropdown-post-conf, #dropdown-comment-conf {
  margin-left: 5px;
}

#comment-area {
  width: 92%;
}

#comment-text-area {
  width: 100%;
  margin-left: 8%;
}

#btn-comment-area {
  height: 46px;
}

#cmnt-area {
  width: 84%;
}

#cmnt-btn {
  float: right;
  width: 14%;
  margin-top: -66px;
}

.profile-image {
  border-radius: 5px;
  height: 3em;
  width: 3em;
}

.profile-image img {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
}

#post-text, #comment-text {
  width: 80%;
  margin-left: 100px;
  margin-top: -36px;
}

#posts-index > .list-group-item {
  background-color: #E3E3E3;
}

#new-post-btn > input {
  float: right;
}

#no-questions > center {
  margin-bottom: 20px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: black !important;
  background-color: white;
}

#notification-dropdown {
  width: 10.5em;
}

#notification-counter {
  background-color: #CF0000;
}

#top-10 {
  margin-left: 10%;
}

#tooltip467293 {
  margin-bottom: 1%;
}

#home-back {
  padding-top: 7%;
}

#desc-table {
  width: 50%;
  padding-top: 6%;
}

#home-table {
  margin-top: 4%;
}

#image-table {
  padding-top: 3%;
}

.login-form {
  background: none !important;
  box-shadow: none !important;
  padding-left: 2em;
}

.login-title {
  margin-top: 2.5em;
}

#battle-ranking {
  float: right;
}

#battle-options-table {
  width: 100%;
}

#vs-image {
  margin-top: -2.9em;
  margin-left: 60%;
  position: fixed;
}

#vs-title {
  margin-right: 20%;
  margin-top: 18%;
}

#vs-title p {
  line-height: 1;
  font-size: 1.2em;
}

#name-footer {
  float: left;
  padding-left: 0px;
}

.footer > .container {
  width: 94%;
}