<%= form_tag "/exam_result", method: :get do %>
  <%= hidden_field_tag :exam_id , @exams[0] %>
  <% @exams.shift %>
  <% @exams.each do |a| %>
    <% @question = a %>
    <%= render :partial => 'question' %>
  <% end %>
  <div class="submit-exam">
    <p><%= submit_tag "Submeter Prova", class: "btn btn-primary" %></p>
  </div>
<% end %>
