Exam <%= @exam.id %>

<%= form_tag "/result", method: :get do %>
  <% for i in 0...4 %>
    <% @exam.questions[i].each do |a| %>
      <% if i == 0 %>
        <% q = Question.where(area: "ciências humanas e suas tecnologias") %>
      <% elsif i == 1 %>
        <% q = Question.where(area: "matemática e suas tecnologias") %>
      <% elsif i == 2 %>
        <% q = Question.where(area: "linguagens, códigos e suas tecnologias") %>
      <% elsif i == 3 %>
        <% q = Question.where(area: "ciências da natureza e suas tecnologias") %>
      <% end %>
      <% @question = q[a-1] %>
      <%= render :partial => 'question' %>
    <% end %>
  <% end %>
  <p><%= submit_tag("Comentar") %></p>
<% end %>