<footer class="footer">
  <div class="container">
    <small>
      Copyright © 2015, Enem Amigo
    </small>
    <nav>
      <ul>
        <li><%= link_to "Sobre", about_path %></li>
        <!--<li><%= link_to "Contato", '#' %></li>
        <li><a href="#">News</a></li>-->
      </ul>
    </nav>
  </div>
</footer>