<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "Ajuda", help_path %></li>
        <li><%= link_to "Sobre", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>